<% if current_path %>
    <h1>My Favorites</h1>
<% else%>
    <h1>Top Rated</h1>
<% end%>


<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Average Rating</th>
      <th scope="col">Created By</th>
    </tr>
  </thead>
  <tbody>
    <% @favorites.each do |c| %>
           
        <tr>
            <td><%= link_to highest_rated_cocktails(c).name, cocktail_path(c)%></td>
            <%if rating_count(c.id) > 0 %>
                <td><%= average_rating(c.id) %> / 10</td>
            <%else%>
                <td>Not Rated</td>
            <%end%>

            <%if highest_rated_cocktails(c).user_id == current_user.id%>
                <td>Me</td>
            <%else%>
                <td><%= highest_rated_cocktails(c).user.name %></td>
            <%end%>
        </tr>
            
    <%end%>
  
  </tbody>
</table>