html, body {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    background: linear-gradient(45deg, #A8E6CE, #DCEDC2 ) no-repeat center center fixed;
    animation: gradient 20s ease infinite;
    background-repeat:no-repeat;
  }
  
  
  @keyframes gradient {
   0% {
     background-position: 0% 50%;
   }
   50% {
     background-position: 100% 50%;
   }
   100% {
     background-position: 0% 50%;
   }
  }

  .navbar {
    font-family: 'Montserrat', sans-serif;
  }

  .notice {
    color: red;
  }


  .form {
    position: relative;
    padding-left: 15%;
    padding-right: 15%;
  }
  
  .container {
    font-family: 'Montserrat', sans-serif;
    padding: 0.5% 10% 1% 10%;
    position: relative;
    margin-top: 75px;
    margin-bottom: 50px;
    background-color: white;
    border-radius: 20px;
    bottom: 0px;
    left: 0px;
    right: 0px;
  }


  .footer {
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: #f5f5f5;
  display: block;
  text-align: center;
}

  .table {
    text-align: center;
  }

  .search {
    margin: 10px;
  }

  .logo {
    margin: 10px;
  }

   
  
  #user-greeting {
    padding-top: 0.5%;
    padding-left: 1%;
  }
  
  .btn {
   margin: 10px;
  }
  
  #cancel-btn {
   margin: 10px;
  }
  
  #main-button {
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    margin-left: 1.4%;
  }
  
  

  
