<div class="masthead d-flex"> 
    <div class="container text-center my-auto">
    <% if flash[:alert] %>
          <div class="notice"><%= flash[:alert] %></div>
    <% end %>

    <h2 class="mb-1">Cocktail Book</h2><br>
    <h5 class="mb-5">Find your new favorite drink recipe. Dont forget to add a recipe for the community!</h5>

    <% if current_user%>

    <%else%>
        <a class="btn btn-primary btn-xl js-scroll-trigger"  href="<%= new_user_path %>" >Sign Up</a> 
        <a class="btn btn-primary btn-xl js-scroll-trigger"  href="<%= login_path %>" >Log In</a> 
    <%end%>
  
    </div>

</div>
   
